<div class="map">
  <svg width="600" height="600" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="img1" patternUnits="userSpaceOnUse" width="600" height="600">
        <image href="assets/images/map-scheme/inferno.png" x="0" y="0" width="600" height="600"/>
      </pattern>
    </defs>
    <rect x="0" y="0" width="600" height="600" fill=url(#img1)></rect>
    <rect x="265" y="100" width="55" height="60" fill="#00ff00" fill-opacity="0.2" stroke="#00ff00" stroke-width="2">
      <title>Fountain</title>
    </rect>
  </svg>
</div>

<!--TODO: Create directive, for adding an element direct in SVG.-->
